/* Add any CSS rules for Angular module "exportui" */
table.crm-export-field-selector tbody tr {
  background-color: #FAFAFA;
}
table.crm-export-field-selector tbody tr:nth-child(odd) {
  background-color: #EFEFEF;
}
table.crm-export-field-selector tbody tr:last-child {
  background-color: #9fc8e2;
}
.crm-export-field-selector tr[ng-repeat] td:first-child {
  cursor: move;
}
.crm-export-field-selector tr[ng-repeat] td:first-child > div + div {
  margin-left: 17px;
}
.crm-export-field-selector .crm-export-add-field {
  width: 16em;
}
